/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* basr style / utilities */

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #161616;
}


hr {
    margin: 0 140px;
    border-top: 0.5px solid #bdbdbd7e;
}

/* top banner  */
.top {
    display: flex;
    background-image: linear-gradient(#A41D4A, #2F1524);
    margin: 40px 120px;
    border-radius: 30px;
}

.top-info {
    width: 50%;
    color: #ffffff;
    padding: 100px;
    padding-bottom: 0px;
}

.top-info h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.top-info #top-info-text {
    font-weight: 400;
    font-size: 16px;
}

.top-info button {
    font-weight: 400;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}

.top-info a {
    display: flex;
    text-decoration: none;
    color: #3E1629;
    padding: 10px 30px;
    align-items: center
}

.top-info i {
    margin-right: 10px;
    transition: transform 0.2s;
}

.live-watch {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

.top-info .live-watch {
    transition: transform 0.2s;
}

.top-info button:hover i {
    color: #A41D4A;
    transform: translate(105px);
    margin-right: 0px;
    margin-left: 2px;
}

.top-info button:hover .live-watch {
    color: #A41D4A;
    transform: translate(-25px);
}

/* blog section style  */
.mid-sec {
    display: flex;
}

.manu {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    background-color: #2F1524;
    width: 312px;
    height: 312px;
    border-radius: 10px;
}


.manu button {
    font-weight: 500;
    font-size: 20px;
    border: 0ch;
    margin: 25px;
    width: 252px;
    height: 50px;
    border-radius: 15px;
    background-color: #ffffff;
}

main a {
    text-decoration: none;
    color: #2F1524;

}

.manu button:hover {
    border: 1px solid #B11836;
    color: #B11836;
    font-weight: 900;
}

.selected-button a {
    color: #fff;
}

.selected-button button {
    background-color: #B11836;
}


.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    padding-bottom: 90px;
}

.blog {
    width: 223px;
    height: auto;
    margin-left: 18px;
    border: 1px solid #E8E8E8;
    border-radius: 11px;

}

.blog>img {
    width: 223px;
}

.blog button {
    display: inline-block;
    border: 1px solid #2F1524;
    border-radius: 5px;
    margin: 0;
    padding: 5px 20px;

}

.blog button h4 {
    color: #2F1524;
    margin: 0;
    padding: 0px;
}

.blog button:hover {
    background-color: #2F1524;
    color: #E8E8E8;
}

.blog button:hover h4 {
    color: #E8E8E8;
}

.blog .blog-info {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
}

.info img {
    margin-right: 5px;
}

.blog-ditels {
    padding: 20px;
}

/* all group page  */

.group-title {
    text-align: center;
    color: #2C0417;
    font-weight: 700;
    font-size: 25px;
}

.group {
    border: 0;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #2C0417;
}

/* upcoming mach page  */
.match {
    padding: 10px;
}

.match-info {
    text-align: center;
}

.match-info h4 {
    border: 0;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}


/* footer section  */
footer {
    margin-bottom: 0ch;
    background-image: linear-gradient(#A41D4A, #2F1524);
}

footer img {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.footer-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-evenly;
    margin: 0 50px;
    color: #ffffff;
    margin: 40px 10px;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

footer .social-icon ul {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 0ch;
}

footer .social-icon ul li {
    list-style: none;
    color: #ffffff;
    margin-right: 30px;

}

/* Destop view  */
@media only screen and (min-width:1025px) {
    .view-all-button {
        display: none;
    }
}

/* laptop view  */

@media only screen and (max-width:1024px) and (min-width:769px) {

    /* top banner  */
    body {
        width: 100%;
    }

    .mid-sec {
        flex-direction: column;
        align-items: center
    }

    .top {
        margin: 30px 60px;
        padding-right: 20px;
    }

    .top-info {
        padding: 50px;
    }

    .top-info h1 {
        font-weight: 700;
        font-size: 40px;
    }

    /* blog section style  */

    .manu {
        flex-direction: row;

        width: 100%;
        height: 65px;
        background-color: #ffffff00;

    }

    .manu button {
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 18px;
        margin-top: 50px;
        padding-bottom: 40px;

    }

    .blog {
        width: 425px;
        height: auto;
        margin-left: 18px;
    }

    .blog>img {
        width: 425px;
    }

    .view-all-button button {
        display: inline;
        font-weight: 400;
        font-size: 20px;
        padding: 10px;
        margin: 10px;
        border: 0;
        border-radius: 5px;
        background-color: #A41D4A;
        color: #ffffff;
        margin-bottom: 50px;



    }

    /* footer section  */
    .footer-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .first-row-item {
        grid-column: span;
    }

    .second-row-item {
        grid-column: span 2;
    }
}

/* tablet view  */

@media only screen and(max-width:768px)and (min-width:415px) {

    .top {
        flex-direction: column;
        align-items: center;
        margin: 30px 60px;

    }

    .top-info {
        text-align: center;
        margin-bottom: 30px;
    }

    .top-info h1 {
        font-weight: 700;
        font-size: 40px;
    }

    /* blog section style  */

    .mid-sec {
        flex-direction: column;
        align-items: center;
    }

    .manu {
        background-color: #ffffff00;
    }

    .manu button {
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100px;
    }

    .blog {
        width: 425px;
        height: auto;
    }

    .blog>img {
        width: 425px;
    }

    .view-all-button button {
        display: none;
    }

    .manu {
        margin-left: 0;
        width: 200px;
        height: 200px;
    }

    .manu button {
        margin: 10px;
    }

    .footer-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* mobile view  */

@media only screen and (max-width:414px) {

    .top {
        flex-direction: column;
        align-items: center;
        margin: 15px 20px;
    }

    .top-info {
        text-align: center;
        margin-bottom: 30px;
        padding: 20px;
    }

    .top-info h1 {
        font-weight: 700;
        font-size: 25px;
    }

    .top-info #top-info-text {
        font-weight: 400;
        font-size: 12px;
    }

    .top-image img {
        width: 100%;
    }

    /* blog section style  */

    .mid-sec {
        flex-direction: column;
        align-items: center;
    }

    .manu {
        background-color: #ffffff00;
    }

    .manu button {
        border: 1px solid #E8E8E8;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 100px;
    }

    .blog {
        width: 380px;
        height: auto;
    }

    .blog>img {
        width: 380px;
    }

    .view-all-button button {
        display: none;
    }

    .manu {
        margin-left: 0;
        width: 200px;
        height: 200px;
    }

    .manu button {
        margin: 10px;
    }

    /* footer section  */
    .footer-list {
        grid-template-columns: repeat(1, 1fr);
    }
}